@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #2d2d2d;
  --primary: #626766; /* updated green-blue */
  --accent: #FFD700;
  --border-color: #e6e6e6;
  --font-family-sans: 'Arial', sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #f1f1f1;
    --primary: #4a9b8d; /* Bright green */
    --accent: #ffcc00; /* Gold */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add smooth transitions */
* {
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent);
}

/* Styles for Cards, List Items, and Containers */
.card {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.timeline-item .dot {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 50%;
  margin-right: 10px;
}

.timeline-item h3 {
  color: var(--primary);
}

.timeline-item p {
  font-size: 0.9rem;
  color: var(--foreground);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.section {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* global.css or Tailwind config */
.scroll-smooth {
  scroll-behavior: smooth;
}

